html{
    width:94.9375rem;
	height:93.75rem;
	margin:auto;
}
body{
	background:url(../src/背景.jpg) no-repeat; *//* 背景图片  */
	background-size:100% 93.75rem; 
	background-size:100% 93.75rem; 
	margin: auto;
	padding:auto;
}
.top{
	position: fixed;
	top: 0px;
	width: 94.9375rem;
	height: 3.75rem;
	color: white;
	background-color:rgba(21,41,80,0.8);
	z-index:1;
}
.topnb ul{
	position: fixed;
    width: 94.9375rem;
	height: 3.75rem;
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    margin-left: 0;
	margin-top:0;
    padding: 0;
}
.topnb ul img{
	position: relative;
	margin-left: 5%;
	margin-right: 5%;
	width: 4.0625rem;
	height: 100%;
	float:left;
}
.topnb li {
	position: relative;
	margin-top: 1.125rem;
	font-size:1.125rem;
    float:left; /* 使li内容横向浮动，即横向排列  */
    margin-right:5%;   /* 两个li之间的距离*/
    overflow: hidden;
}
.topnb li a{
	/* 设置链接内容显示的格式*/
    display: block; /*链接显示为块元素可使整个链接区域可点击 */
    color:white;
    text-align: center;
    padding: 0.1875rem;
    overflow: hidden;
    text-decoration: none;/* 去除下划线 */
}
.topnb li a:hover{
    /* 鼠标选中时w文字变绿 */
    color: rgba(1,248,90);
}
.search{
	float:left;
	height: 1.5625rem;
	margin-left:20%;
	margin-top:1.125rem;
	border-radius:1.25rem 1.25rem 1.25rem 1.25rem;
	background-color:white;
	border:none;
	outline:medium;
}
.topnb span {
	position: relative;
	margin-top: 1.125rem;
	font-size:1.125rem;
    float:right; 
    margin-right:5%; 
    overflow: hidden;
}
.topnb span a{
	/* 设置链接内容显示的格式*/
    display: block; /*链接显示为块元素可使整个链接区域可点击 */
    color:white;
    text-align: center;
    padding: 0.1875rem;
    overflow: hidden;
    text-decoration: none;/* 去除下划线 */
}
.topnb span a:hover{
    /* 鼠标选中时w文字变绿 */
    color: rgba(1,248,90);
}
.block {
	position:absolute ;
	margin-top:3.75rem;
	margin-left:16.25rem ;
	width:62.5rem ;
	height:82.3rem ;
	color:white ;
	background-color: rgba(255,255,255,0.9);
}
.vtuberlist{
	position: absolute;
	width: 62.5rem;
	height: 6rem;
	margin-top: 0.5rem;
	margin-left: 2rem;
	font-size: 3rem;
	line-height: 6rem;
	color: black;
}
.name1{
	position: absolute;
	margin-top: 7rem;
	margin-left: 5rem;
	font-size: 1.5rem;
	line-height: 6rem;
	color: black;
}
.name1 a{
	/* 设置链接内容显示的格式*/
    display: block; /*链接显示为块元素可使整个链接区域可点击 */
    text-align: center;
    padding: 0.1875rem;
    overflow: hidden;
    text-decoration: none;/* 去除下划线 */
}
.number1{
	position: absolute;
	margin-top: 7rem;
	margin-left:45rem;
	font-size: 1.2rem;
	line-height: 6rem;
	color: grey;
}
.first span{
	position: absolute;
	margin-top: 7rem;
	margin-left:48rem;
	font-size: 1.2rem;
	line-height: 6rem;
	color: red;
}
.first img{
	position: absolute;
	margin-top: 12rem;
	margin-left: 6rem;
	width: 8rem;
	height: 10rem;
}
.first p{
	position: absolute;
	margin-top: 14rem;
	margin-left: 15rem;
	line-height: 1.25rem;
	width: 40rem;
	color: #000000;
}
.name2{
	position: absolute;
	margin-top: 22rem;
	margin-left: 5rem;
	font-size: 1.5rem;
	line-height: 6rem;
	color: black;
}
.name2 a{
	/* 设置链接内容显示的格式*/
    display: block; /*链接显示为块元素可使整个链接区域可点击 */
    text-align: center;
    padding: 0.1875rem;
    overflow: hidden;
    text-decoration: none;/* 去除下划线 */
}
.number2{
	position: absolute;
	margin-top: 22rem;
	margin-left:45rem;
	font-size: 1.2rem;
	line-height: 6rem;
	color: grey;
}
.second span{
	position: absolute;
	margin-top: 22rem;
	margin-left:48rem;
	font-size: 1.2rem;
	line-height: 6rem;
	color: red;
}
.second img{
	position: absolute;
	margin-top: 27rem;
	margin-left: 6rem;
	width: 8rem;
	height: 10rem;
}
.second p{
	position: absolute;
	margin-top: 29rem;
	margin-left: 15rem;
	line-height: 1.25rem;
	width: 40rem;
	color: #000000;
}
.name3{
	position: absolute;
	margin-top: 37rem;
	margin-left: 5rem;
	font-size: 1.5rem;
	line-height: 6rem;
	color: black;
}
.name3 a{
	/* 设置链接内容显示的格式*/
    display: block; /*链接显示为块元素可使整个链接区域可点击 */
    text-align: center;
    padding: 0.1875rem;
    overflow: hidden;
    text-decoration: none;/* 去除下划线 */
}
.number3{
	position: absolute;
	margin-top: 37rem;
	margin-left:45rem;
	font-size: 1.2rem;
	line-height: 6rem;
	color: grey;
}
.third span{
	position: absolute;
	margin-top: 37rem;
	margin-left:48rem;
	font-size: 1.2rem;
	line-height: 6rem;
	color:#67C23A ;
}
.third img{
	position: absolute;
	margin-top: 42rem;
	margin-left: 6rem;
	width: 8rem;
	height: 10rem;
}
.third p{
	position: absolute;
	margin-top: 44rem;
	margin-left: 15rem;
	line-height: 1.25rem;
	width: 40rem;
	color: #000000;
}
.name4{
	position: absolute;
	margin-top: 52rem;
	margin-left: 5rem;
	font-size: 1.5rem;
	line-height: 6rem;
	color: black;
}
.name4 a{
	/* 设置链接内容显示的格式*/
    display: block; /*链接显示为块元素可使整个链接区域可点击 */
    text-align: center;
    padding: 0.1875rem;
    overflow: hidden;
    text-decoration: none;/* 去除下划线 */
}
.number4{
	position: absolute;
	margin-top: 52rem;
	margin-left:45rem;
	font-size: 1.2rem;
	line-height: 6rem;
	color: grey;
}
.fourth span{
	position: absolute;
	margin-top: 52rem;
	margin-left:48rem;
	font-size: 1.2rem;
	line-height: 6rem;
	color: #539c2e;
}
.name5{
	position: absolute;
	margin-top: 57rem;
	margin-left: 5rem;
	font-size: 1.5rem;
	line-height: 6rem;
	color: black;
}
.name5 a{
	/* 设置链接内容显示的格式*/
    display: block; /*链接显示为块元素可使整个链接区域可点击 */
    text-align: center;
    padding: 0.1875rem;
    overflow: hidden;
    text-decoration: none;/* 去除下划线 */
}
.number5{
	position: absolute;
	margin-top: 57rem;
	margin-left:45rem;
	font-size: 1.2rem;
	line-height: 6rem;
	color: grey;
}
.fifth span{
	position: absolute;
	margin-top: 57rem;
	margin-left:48rem;
	font-size: 1.2rem;
	line-height: 6rem;
	color: red;
}
.name6{
	position: absolute;
	margin-top: 62rem;
	margin-left: 5rem;
	font-size: 1.5rem;
	line-height: 6rem;
	color: black;
}
.name6 a{
	/* 设置链接内容显示的格式*/
    display: block; /*链接显示为块元素可使整个链接区域可点击 */
    text-align: center;
    padding: 0.1875rem;
    overflow: hidden;
    text-decoration: none;/* 去除下划线 */
}
.number6{
	position: absolute;
	margin-top: 62rem;
	margin-left:45rem;
	font-size: 1.2rem;
	line-height: 6rem;
	color: grey;
}
.sixth span{
	position: absolute;
	margin-top: 62rem;
	margin-left:48rem;
	font-size: 1.2rem;
	line-height: 6rem;
	color: #539c2e;
}
.name7{
	position: absolute;
	margin-top: 67rem;
	margin-left: 5rem;
	font-size: 1.5rem;
	line-height: 6rem;
	color: black;
}
.name7 a{
	/* 设置链接内容显示的格式*/
    display: block; /*链接显示为块元素可使整个链接区域可点击 */
    text-align: center;
    padding: 0.1875rem;
    overflow: hidden;
    text-decoration: none;/* 去除下划线 */
}
.number7{
	position: absolute;
	margin-top: 67rem;
	margin-left:45rem;
	font-size: 1.2rem;
	line-height: 6rem;
	color: grey;
}
.seventh span{
	position: absolute;
	margin-top: 67rem;
	margin-left:48rem;
	font-size: 1.2rem;
	line-height: 6rem;
	color: red;
}
.name8{
	position: absolute;
	margin-top: 72rem;
	margin-left: 5rem;
	font-size: 1.5rem;
	line-height: 6rem;
	color: black;
}
.name8 a{
	/* 设置链接内容显示的格式*/
    display: block; /*链接显示为块元素可使整个链接区域可点击 */
    text-align: center;
    padding: 0.1875rem;
    overflow: hidden;
    text-decoration: none;/* 去除下划线 */
}
.number8{
	position: absolute;
	margin-top: 72rem;
	margin-left:45rem;
	font-size: 1.2rem;
	line-height: 6rem;
	color: grey;
}
.eighth span{
	position: absolute;
	margin-top: 72rem;
	margin-left:48rem;
	font-size: 1.2rem;
	line-height: 6rem;
	color: #539c2e;
}
.down{
	position: absolute;
	top: 86.25rem;
	width: 94.9375rem;
	height: 7.5rem;
	color: white;
	background-color:rgba(21,41,80,0.8);
}
.down1{
	position:absolute;
	width: 11.25rem;
	margin-top: 1.25rem;
	margin-left: 15rem;
	color: white;
	text-align:center;
	font-size: 2.5rem;
}
.down2{
	position:absolute;
	width: 11.25rem;
	margin-top: 4.375rem;
	margin-left: 15rem;
	color: white;
	text-align:center;
	font-size: 1.25rem;
}
.down3{
	position:absolute;
	width: 11.25rem;
	margin-top: 1.875rem;
	margin-left: 65rem;
	color: white;
	text-align:center;
	font-size: 1.125rem;
}
.down4{
	position:absolute;
	width: 11.25rem;
	margin-top: 1.875rem;
	margin-left: 71.25rem;
	color: white;
	text-align:center;
	font-size: 1.125rem;
}
.down5{
	position:absolute;
	width: 11.25rem;
	margin-top: 4.0625rem;
	margin-left: 65rem;
	color: white;
	text-align:center;
	font-size: 1.125rem;
}
.down6{
	position:absolute;
	width: 11.25rem;
	margin-top: 4.0625rem;
	margin-left: 71.25rem;
	color: white;
	text-align:center;
	font-size: 1.125rem;
}